
:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


mat-card-content {
  display: flex;
  flex-direction: column;
}

.thumb {
  background-size: cover;
}

.header-visible {
  padding-top: 4rem;
}

mat-card {
  //height: 1000px;
}


.spinner-wrap {
  margin: 0 -16px 16px -16px;
  background: #eee;
  border: solid #ddd 1px;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}


.uploader-wrap {
  margin: 1rem 0;
  border-radius: 4px;
  padding: 0 1rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  &.disabled {
    box-shadow: none;
    background: #e0e0e0;
    color: #21212159;
    pointer-events: none;
  }

  fa-icon {
    font-size: large;
    margin-right: .5rem;
  }
}





