<div class="profile-edit-wrap" cdkScrollable>
  <div class="card-wrap">
    <ng-container *ngIf="profile">
      <mat-card [formGroup]="form">
        <mat-card-header>
          <div *ngIf="profile.pic" mat-card-avatar class="thumb"
               [style.background-image]="'url(' + profile.pic + ')'"></div>
          <mat-card-title>{{fullName}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>

        <img *ngIf="profile.pic" mat-card-image [src]="profile.pic" (load)="onImgLoaded()" [routerLink]="['img']">
        <div class="spinner-wrap" *ngIf="!imgLoaded">
          <mat-spinner diameter="40"></mat-spinner>
        </div>

        <mat-card-content>

          <app-file-upload (url)="urlChange($event)"></app-file-upload>

          <!--<p *ngFor="let data of imgs">-->
            <!--<span (click)="onRemoveFile(data)">X</span>-->
            <!--{{data.file.name}} {{data.size}}-->
            <!--<span [class.upload-error]="uploader.fileHasUploadError(data)">-->
                <!--<span *ngIf="data.extErr"> Extension Error </span>-->
                <!--<span *ngIf="data.sizeErr"> Size Error </span>-->
            <!--</span>-->
          <!--</p>-->

          <!--<file-uploader2-->
            <!--formControlName="imgs"-->
            <!--#uploader-->
            <!--[maxSize]="1000"-->
            <!--[extentions]="'png, jpg'"-->
            <!--[multiple]="true">-->
          <!--</file-uploader2>-->

          <!--<div fxLayout="row">-->
              <!--<span fxLayout="row" fxLayoutAlign=" center" class="uploader-wrap" (click)="onBrowse()"-->
                    <!--[class.disabled]="isActive">-->
                <!--<fa-icon icon="upload"></fa-icon>-->
                <!--<p>Upload image</p>-->
             <!--</span>-->
          <!--</div>-->


          <mat-form-field>
            <input matInput placeholder="First name" formControlName="firstName">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
          </mat-form-field>


          <pre>{{form.value | json}}</pre>

        </mat-card-content>

        <mat-card-actions>
          <app-form-ui [formRes]="formRes"
                       (submit)="onSubmit()" (cancel)="onCancel()" (delete)="onDelete()"></app-form-ui>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>




