<app-sticky-header [(isVisible)]="isVisible">
  <mat-toolbar color="primary" class="mat-elevation-z4 top-toolbar">
    <ng-container #headerContainer></ng-container>
  </mat-toolbar>
</app-sticky-header>

<div class="page-wrap" fxFlex="" fxLayout="column" [@routeAnimation]="prepareRouteTransition(innerRouterOutlet)">
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"
                 #innerRouterOutlet="outlet"></router-outlet>
  <!--<mat-spinner *ngIf="(routeLoading$ | async)"></mat-spinner>-->
</div>



