:host{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cards-wrap {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  //-webkit-overflow-scrolling: touch;
}

.selected {
  border: solid red 1rem;
}
