<mat-card [ngClass]="{deleted: profile.deleted}" (click)="onSelect()">
  <mat-card-header>
    <div *ngIf="profile.pic" mat-card-avatar class="thumb" [style.background-image]="'url(' + profile.pic + ')'"></div>
    <mat-card-title>{{fullName}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <span fxFlex="100"></span>
    <fa-icon class="edit-btn" [icon]="['fa', 'user-edit']" (click)="onEdit($event)"></fa-icon>
  </mat-card-header>

  <app-card-img [profile]="profile"></app-card-img>

  <mat-card-content>
    <p>{{profile.bio}}</p>
  </mat-card-content>
  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->
</mat-card>

