<mat-card [ngClass]="{deleted: profile.deleted}" (click)="onSelect()">
  <mat-card-header>
    <div *ngIf="profile.pic" mat-card-avatar class="thumb" [style.background-image]="'url(' + profile.pic + ')'"></div>
    <mat-card-title>{{fullName}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <span fxFlex="100"></span>
    <fa-icon class="edit-btn" [icon]="['fa', 'user-edit']" (click)="onEdit()"></fa-icon>
  </mat-card-header>

    <img  *ngIf="profile.pic"  mat-card-image [src]="profile.pic" (load)="onImgLoaded()">
    <div class="spinner-wrap" *ngIf="!imgLoaded">
      <mat-spinner diameter="40" ></mat-spinner>
    </div>



  <mat-card-content>
    <p>{{profile.bio}}</p>
  </mat-card-content>
  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->
</mat-card>

