//$z-index-toast: 105;
//$z-index-tooltip: 100;
//$z-index-menu: 100;
//$z-index-calendar-pane: 100;
//$z-index-select: 90;
//$z-index-dialog: 80;
//$z-index-bottom-sheet: 70;
//$z-index-scroll-mask: 50;
//$z-index-scroll-mask-bar: 65;
//$z-index-sidenav: 60;
//$z-index-backdrop: 50;
//$z-index-fab: 20;

$z-index-top-toolbar: 100;
$z-index-sub-toolbar: 10;


$c1: '#c53929'; // google-red-700: #c53929;
$c11: '#db4437'; // google-red-500: #db4437;

$c2: '#e64a19'; //  paper-deep-orange-700: #e64a19;
$c22: '#ff5722'; // paper-deep-orange-500: #ff5722;

$c9: '#f09300'; //  google-yellow-700: #f09300;
$c99: '#f4b400'; // $google-yellow-500: #f4b400;

$c7: '#0b8043'; //  $google-green-700: #0b8043;
$c77: '#0f9d58'; // $google-green-500: #0f9d58;

$c8: '#689f38'; //  paper-light-green-700: #689f38;
$c88: '#8bc34a'; // $paper-light-green-500: #8bc34a;

$c6: '#0097a7'; //  paper-cyan-700: #0097a7;
$c66: '#00bcd4'; // $paper-cyan-500: #00bcd4;

$c5: '#3367d6'; //  google-blue-700: #3367d6;
$c55: '#4285f4'; // $google-blue-500: #4285f4;

$c4: '#7b1fa2'; //  $paper-purple-700: #7b1fa2;
$c44: '#9c27b0'; // $paper-purple-500: #9c27b0;

$c3: '#c2185b'; //  $paper-pink-700: #c2185b;
$c33: '#e91e63'; // $paper-pink-500: #e91e63;

