:host {
  display: flex;
  flex-direction: column;
  min-height: 1500px;
  border: solid red 1rem;
  margin: 1rem;
  padding: 1rem;
}

button {
  margin: .5rem;
}


.login-btn {
  span {
    padding-left: 1rem;
  }
}

.profile-thumb {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-size: cover;
}


