:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.page-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  //-webkit-overflow-scrolling: touch;
}


.content-wrap {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding-top: 4rem;
}
