:host {
  display: block;
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 1rem;
}

fa-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.spinner-wrap {
  background: #eee;
  border: solid #ddd 1px;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 475px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.edit-btn {
  font-size: 30px;
  z-index: 1;
}

pinch-zoom {
  background: rgba(0, 0, 0, 0.7);
  overflow: auto !important;
}

img {
  margin-top: 0 !important;
  margin: 0 !important;
  min-height: 475px;
  max-height: 475px;
  width: 357px;
  height: 475px;
  background: #fff;
  border: solid 1px #fff;
}

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200 !important;
}

.hide {
  display: none !important;
}

.card-img-wrap {
  position: relative;
  width: 100%;
  height: 475px
}

.hide {
  display: none;
}



