:host {
  display: block;
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 1rem;
}

fa-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.spinner-wrap {
  background: #eee;
  border: solid #ddd 1px;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}


.edit-btn {
  font-size: 20px;
}

img {
  margin-top: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

