<fa-icon class="edit-btn" [icon]="['fas', 'pen-square']" (click)="onEdit($event)" auth-role [class.hide]="hideEdit"></fa-icon>

<!--<button (click)="onZoomIn()">zoom in</button>-->
<!--<button (click)="onZoomOut()">zoom out</button>-->

<div class="card-img-wrap">
  <div #preloader class="spinner-wrap" *ngIf="!imgLoaded">
    <mat-spinner diameter="40" ></mat-spinner>
  </div>
  <pinch-zoom #pincher *ngIf="picUrl" (events)="onZoom($event)" auto-zoom-out="true" [class.hide]="!imgLoaded">
    <img #img mat-card-image [attr.data-lazy]="picUrl" (load)="onImgLoaded()">
  </pinch-zoom>
</div>



